<h3>Filters</h3>
<ul> <strong>Category</strong>
  <li>
    {{radio-button value='watch' checked=filterCategory}} Watch
  </li>
  <li>
    {{radio-button value='jewelry' checked=filterCategory}} Jewelry
  </li>
</ul>
<ul> <strong>Gender</strong>
  <li>
    {{radio-button value='male' checked=filterGender}} Male
  </li>
  <li>
    {{radio-button value='female' checked=filterGender}} Female
  </li>
  <li>
    {{radio-button value='' checked=filterGender}} All Genders
  </li>
</ul>
{{#if filterBrands}}
  <ul> <strong>Brand</strong>
  {{#each brand in filterBrands}}
    <li>
      {{radio-button value=brand.name checked=filterBrand}} {{brand.name}}
    </li>
  {{/each}}
    <li>
      {{radio-button value='' checked=filterBrand}} All Brands
    </li>
  </ul>
{{/if}}
<ul>  <strong>Price Range</strong> </br>
  From </br>
  <li><input type="text"/></li>
  To </br>
  <li><input type="text"/></li>
</ul>

<div class="radius button" {{action 'filterPriceRange'}}>
  Apply Price Range
</div>
