<div class="row hide-for-small">
  <div class="small-6 large-centered columns">
    {{search-box placeholder='Enter Item Name' action='search'}}
  </div>
</div>

<div class="row">
  <div class="large-4 columns filter hide-for-small ">
    <div class="panel">
      {{product-filter action='filter' filterBrands=brands filterCategory=category filterGender=gender filterBrand=brand}}
    </div>
  </div>
  <div class="large-8 columns">
    <div class="row">
      {{#each product in products}}
        <div class="large-4 small-6 columns">
          {{#link-to 'product' product}}
            <img {{bind-attr src=product.image_url alt=product.name}}/>
          {{/link-to}}
          <div class="panel">
            <h5>{{product.name}}</h5>
            <h6 class="subheader">${{product.price}}</h6>
          </div>
        </div>
      {{else}}
        <p class="alert-box radius info text-center">No products found.</p>
      {{/each}}
    </div>
  </div>
</div>
