<div class="row">

  <div class="large-5 columns">
    <img {{bind-attr src=image_url alt=name}}/>
  </div>
  <div class="large-7 columns">
    <div class="row">
      <strong>Name:</strong> {{name}} <br>
      <strong>Price:</strong> {{price}} <br>
      <strong>Brand:</strong> {{brand}} <br>
      <strong>Gender:</strong> {{gender}} <br>
      <strong>Category:</strong> {{category}} <br>
    </div>
  </div>
</div>
<div class="row">
  <hr>
  <div class="large-6 columns">
    <h4><strong>Other details</strong></h4>
    {{#each value in values}}
      <h5>{{value.name}}</h5>
      <p>{{value.value}}</p>
    {{/each}}
  </div>
</div>
<div class="row">
  <hr>
  <div class="large-12 columns">
    <h4>You might also like:</h4>
    {{#each product in relatedProducts}}
      {{#link-to 'product' product}}
          <img {{bind-attr src=product.thumbnail_url alt=product.name}}/>
      {{/link-to}}
    {{/each}}
  </div>
</div>
